* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container {
  background-color: #6177b9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box {
  width: 30%;
  background-color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 1rem 2rem;
}
label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
.inputField {
  margin-top: 1.5rem;
}
input {
  padding: 0.5rem;
  width: 100%;
  outline: none;
}
.btn {
  background: #eb4898;
  color: #fff;
  border: 1px solid;
  margin-top: 28px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.title {
  text-align: center;
  margin-top: 10px;
  font-size: 4.3rem;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}
table thead tr {
  background-color: #0d0000;
  color: #fff;
  font-size: 1.2rem;
}
.error {
  margin-top: 12px;
  color: red;
}
/* //=====profile page css */
.img-box {
  text-align: center;
}
.text-box-main {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  flex-wrap: wrap;
}
.text-content {
  min-width: 25%;
}
.text-box-main .textbox-title {
  font-size: 1.3rem;
  font-weight: 600;
}
